<h4>
    {{question.question}}
    <i *ngIf="submitted && (answer !== question.correct)" class="fa fa-times" aria-hidden="true"></i>
    <i *ngIf="submitted && (answer === question.correct)" class="fa fa-check" aria-hidden="true"></i>
</h4>

<form>
    <div class="form-group">
        <ul class="list-group">

            <li [ngClass]="{
                'list-group-item': true,
                'list-group-item-primary': !submitted && saved && (answer === choice),
                'list-group-item-success': submitted && (question.correct === choice),
                'list-group-item-danger': submitted && (question.correct !== choice) && (answer === choice)}"
                *ngFor="let choice of question.choices">
                <div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value={{choice}} [(ngModel)]="answer"
                            [attr.disabled]="submitted ? '' : null" name="{{question._id}}" id={{choice}} />
                        <label class="form-check-label" for={{choice}}>{{choice}}</label>
                        <i *ngIf="submitted && answer === choice && (question.correct !== choice)" class="fa fa-times"
                            aria-hidden="true"></i>
                        <i *ngIf="submitted && (question.correct === choice)" class="fa fa-check"
                            aria-hidden="true"></i>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="form-group">
        <button type="button" class="btn btn-success" (click)="save()">Save</button>
    </div>

</form>