<h4>
    {{question.question}}
    <i *ngIf="submitted && (answer !== question.correct)" class="fa fa-times" aria-hidden="true"></i>
    <i *ngIf="submitted && (answer === question.correct)" class="fa fa-check" aria-hidden="true"></i>
</h4>

<form>
    <div class="form-group">
        <ul class="list-group">
            <li [ngClass]="{
                'list-group-item': true,
                'list-group-item-primary': !submitted && saved && (answer === 'true'),
                'list-group-item-success': submitted && (question.correct === 'true'),
                'list-group-item-danger': submitted && (question.correct !== 'true') && (answer === 'true')
            }">
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="true" [(ngModel)]="answer"
                        [attr.disabled]="submitted ? '' : null" name="{{question._id}}"
                        id="{{question._id}}trueRadioBtn" />
                    <label class="form-check-label" for="{{question._id}}trueRadioBtn">True</label>
                    <i *ngIf="submitted && answer === 'true' && (question.correct !== 'true')" class="fa fa-times"
                        aria-hidden="true"></i>
                    <i *ngIf="submitted && (question.correct === 'true')" class="fa fa-check" aria-hidden="true"></i>
                </div>

            </li>
            <li [ngClass]="{
                'list-group-item': true,
                'list-group-item-primary': !submitted && saved && (answer === 'false'),
                'list-group-item-success': submitted && (question.correct === 'false'),
                'list-group-item-danger': submitted && (question.correct !== 'false') && (answer === 'false')
            }">
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="false" [(ngModel)]="answer"
                        [attr.disabled]="submitted ? '' : null" name="{{question._id}}"
                        id="{{question._id}}falseRadioBtn" />
                    <label class="form-check-label" for="{{question._id}}falseRadioBtn">False</label>
                    <i *ngIf="submitted && answer === 'false' && (question.correct !== 'false')" class="fa fa-times"
                        aria-hidden="true"></i>
                    <i *ngIf="submitted && answer === 'false' && (question.correct === 'false')" class="fa fa-check"
                        aria-hidden="true"></i>
                </div>
            </li>
        </ul>
    </div>

    <div class="form-group">
        <button type="button" class="btn btn-success" (click)="save()">Save</button>
    </div>

</form>